/* ADD YOUR CUSTOM CSS TO THIS FILE */

.col-md-8
	{
	background-color: #189AB4;
	color: #fff;
	font-family: 'Source Serif 4', serif;
}

.col-md-4
	{
	background-color: #189AB4;
	color: #fff;
	font-family: 'Source Serif 4', serif;
}

.col-md-6
	{
	background-color: #189AB4;
	color: #fff;
	font-family: 'Source Serif 4', serif;
}

.nav-link
	{
	color: #fff;
}

.hero
	{
	background-color: #75E6DA;
}

#footer
	{
	background-color: #05445E;
	color: #fff;
}

#pagetitle
	{
	padding-top: 5px;
	font-family: 'Source Serif 4', serif;
}

#centertitle
	{
	text-align: center;
	padding-top: 5px;
}